<!--
PHASE I (DONE)
========

title
dates, place, tickets
picture of event

PHASE II (HALF DONE)
=========

I want to go button or already going indication
who is going?

-->

<ng-include src="'/partials/header.html'"></ng-include>
<!--
<h1 class="event-title">{{event.nameOfEvent}}</h1>
<div class="event-date">{{event.dateOfEvent}}</div>
<div class="event-location coolio">{{event.placeOfEvent}}</div>
<a href="{{event.url}}">Buy Tickets</a><br/>
<img src="{{event.imgUrl}}"></img>
-->

<div  href="/#/event/{{event._id}}"> {{event.nameOfEvent}} </div>
<div  href="/#/event/{{event._id}}"> {{event.dateOfEvent}} </div>
<div  href="/#/event/{{event._id}}"> {{event.placeOfEvent}} </div>
<a  href="{{event.url}}">Buy Tickets</a><br/>
<img src="{{event.imgUrl}}"></img>
<div ng-if=event.going><p class="text-success">I'm going to this event!</p>
	<a ng-click="removeUserEvent(event._id)"> 
		<button type="button" class="btn btn-danger btn-sm">Remove</button>
    </a>
</div>
<div ng-if=!event.going&&user><a ng-click="addUserEvent(event._id)"><button type="button" class="btn btn-primary btn-sm">I want to go</button>
	
</a></div>

<br/><br/>
<div ng-if=users.length>
	<h8>Who else is going to this event:</h8>
    <div class="users-container" ng-repeat='user in users'>
        <ng-include src="'/partials/user.html'"></ng-include>
    </div>
</div>
