<!--
PHASE I (DONE)
========

title
dates, place, tickets
picture of event

PHASE II (HALF DONE)
=========

I want to go button or already going indication
who is going?

-->
<ng-include src="'/partials/header.html'"></ng-include>

<h1 class="event-title">{{event.nameOfEvent}}</h1>
<div class="event-date">{{event.dateOfEvent}}</div>
<div class="event-location coolio">{{event.placeOfEvent}}</div>
<a href="{{event.url}}">Buy Tickets</a><br/>
<img src="{{event.imgUrl}}"></img>
<div ng-if=event.going>I'm going
	<a ng-click="removeUserEvent(event._id)"> 
		<i class="glyphicon glyphicon-remove"></i>
    </a>
</div>
<div ng-if=!event.going&&user><a ng-click="addUserEvent(event._id)">I Want To Go</a></div>

<br/><br/>
<div ng-if=users.length>
	<h2>Going:</h2>
    <div class="users-container" ng-repeat='user in users'>
        <ng-include src="'/partials/user.html'"></ng-include>
    </div>
</div>
