<!--
<p class="header">
	<a href="/#/">Home</a>
    <a ng-if=!user href="/#login">Login</a> 
    <a ng-if=user href="/#/myevents">My Events</a>
    <a ng-if=user href="/#/profile">Profile</a>
    <!--
    need to implement logout
   
    <a ng-if=user href="/#logout">LogOut</a>
</p>
-->
<p class="header">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="/#/">Home</a>
      </li>
      <li class="nav-item">
        <a ng-if=!user class="nav-link" href="/#/login">Login</a> 
      </li>
      <li class="nav-item">
        <a ng-if=user class="nav-link" href="/#/myevents">My Events</a>
      </li>
       <li class="nav-item">
        <a ng-if=user class="nav-link" href="/#/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a ng-if=user class="nav-link" href="/#/logout">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <a href="/#/search-results"><button >Search for Events</button> </a>
    </form>
  </div>
</nav>
<br>
<img src='/../images/LetsGoNew.png' height="170">
<!--
<h4 class="display-4">Let's Go<go class="text-muted"> Two<font color="#000000">gether</h4>
-->

</p>

